*{
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.App{
  background-color: #FEF6F2;
  /* background-image: url("../img/takapebg.svg"); */
  background-size: 100%;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
  border: 1px solid #E6E6E6;
  background-image: none;
  background-color: #F2F2F2;
  color: #878984;
}

button:disabled:hover,
button[disabled]:hover{
  cursor: not-allowed;
  border: 1px solid #E6E6E6;
}

.fa-facebook-square{
  font-size: 20px;
}