*{
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.App{
  background-image: url(https://www.linkpicture.com/q/img-noise-1900x1200-1.png);
  background-size: cover;
  height: 1000px;
}
